<!DOCTYPE html>
<html>

<head>
    <Title>Stock Trading Ledger</Title>
    <style>
    h1 {
        font-size:  20px;
        font-family:  roboto;
        font-weight:  normal;
        color: rgb(100,100,100);
        text-align: center;
        
    
        
    }
        
    </style>

</head>

<body>
    <h1>Stock Trading Ledger</h1>
    <img src='https://ba795580-6317-4547-b404-3637a76f2168-00-59exa81t6gbt.pike.replit.dev/static/stock_market.jpg' height = 200 width = 1000>

    
</body>
    
</html>